body {
  margin: 0;
  padding: 0;
}        

#nav{
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #37404a;
}

#nav>li {
  float: left;
}                                                         

ul li a {
  display: block;
  color: white;
  text-align: center; 
  padding: 14px 16px;
  text-decoration: none;
}

ul li a:hover {
  background-color: #111111;
}

h2.rtgb{
  text-align: center;
}
h3.copy{
  text-align: center;
}
.jani{
  background-color: #37404a;
  display: block;
  text-align: center; 
  margin-left: 400px; 
  margin-right: 400px
 }

h4.love{
  text-align: center;
}

.footercontainer{
  display: flex;
  justify-content: center;
}

h1.rte{
  text-align: center;
  font-size: 30px;

}

h1.rta{
  text-align: center;
}
.mission-list {
  list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
  background-color: white; 
  
}

.mission-list li {
  margin-bottom: 8px;
  font-size: 16px;
}
h1.rtd{
  text-align: center;
}

.corporate{
    list-style-type: disc;
  padding-left: 20px;
  margin-top: 10px;
  background-color: white; 
}
.corporate li{
  margin-bottom: 8px;
  font-size: 16px;
}
